<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--日志配置-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="serviceCenterClient" type="Akmii.ServiceCenter.SocketClient.Config.ServiceCenterClientSection,Akmii.ServiceCenter.SocketClient" />
  </configSections>
  <serviceCenterClient>
    <SocketServers>
      <clearSocketServers />
      <SocketServer name="ConfigServer" address="114.55.86.252" port="2001" maxConnections="1000" maxSimultaneousConnectOps="10" bufferSize="1024" receivePrefixLength="4" sendPrefixLength="4" retryTimes="3" />
    </SocketServers>
  </serviceCenterClient>
  <log4net>
    <appender name="DEBUGAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\Log\ConfigTool\debug.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="(yyyyMMdd)" />
      <appendToFile value="true" />
      <RollingStyle value="Size" />
      <MaxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%t]%-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\Log\ConfigTool\error.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="(yyyyMMdd)" />
      <appendToFile value="true" />
      <RollingStyle value="Size" />
      <MaxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%t]%-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <appender name="INFOAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\Log\ConfigTool\Info.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="(yyyyMMdd)" />
      <appendToFile value="true" />
      <RollingStyle value="Size" />
      <MaxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%t]%-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <root>
      <level value="All" />
      <appender-ref ref="DEBUGAppender" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="INFOAppender" />
    </root>
  </log4net>

</configuration>